<%= form_for(@redirect_rule) do |f| %>
  <% if @redirect_rule.errors.any? %>
    <div id='error_explanation'>
      <div class='alert alert-danger' role='alert'>
        <ul>
        <%= @redirect_rule.errors.full_messages.to_sentence %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class='form-group row'>
    <%= f.label :source, class: 'col-xs-3 col-form-label' %>
    <div class='col-xs-9'>
      <%= f.text_field :source, class: 'form-control', placeholder: '/source' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :destination, class: 'col-xs-3 col-form-label' %>
    <div class='col-xs-9'>
      <%= f.text_field :destination, class: 'form-control', placeholder: '/destination' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :active, class: 'col-xs-3 col-form-label' %>
    <div class='col-xs-9'>
      <%= f.check_box :active, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :source_is_regex, class: 'col-xs-3 col-form-label' %>
    <div class='col-xs-9'>
      <%= f.check_box :source_is_regex, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :source_is_case_sensitive, class: 'col-xs-3 col-form-label' %>
    <div class='col-xs-9'>
      <%= f.check_box :source_is_case_sensitive, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-xs-12'>
      <%= f.submit nil, class: 'btn btn-primary pull-left' %>
      <% if @redirect_rule.persisted? %>
        <%= link_to 'Destroy', redirector_ui.redirect_rule_path(@redirect_rule), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
      <% end %>
    </div>
  </div>
<% end %>
